/ArreglaCarretera.class
/CheckerboardKarel.class
/CollectNewspaperKarel.class
/CollectNewspaperKarelGigante.class
/CosechadoraKarel.class
/DuplicaBeepers.class
/Ejemplo1.class
/EjemploOperadoresLogicos.class
/EjemploSuperKarel.class
/Ejercicio1.class
/Ejercicio3.class
/EscalerasKarel.class
/ExpandeBeepers.class
/KarelMejorada.class
/LaberintoKarel.class
/MidpointFindingKarel.class
/StoneMasonKarel.class
/SaltaAgujas2.class
/SaltaAgujas.class
